/* .top-section {
  background: linear-gradient(to right, #fcb7c2, #f88dad); 
  padding: 100px 0;
  position: relative;
}

.scallop-divider {
  position: absolute;
  bottom: -10px;

  width: 100%;
  height: 30px;
  background-image: radial-gradient(circle at 15px 29px, white 15px, transparent 16px);
  background-size: 30px 30px;
  background-repeat: repeat-x;
}

.bottom-section {
  background-color: #000; 
  color: white;
  padding: 100px 0;
} */
